body { 
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

* {
    color: aqua;
}

p {
    color: brown;
}


.heder-link {
    color: blue;
}

[href] {
    color: blueviolet;
}